/** define custom content font **/
@font-face {
  font-family: 'LeagueGothic';
  src: url('LeagueGothic-Regular.otf');
}
@font-face {
	font-family: 'led';
	src: url('times_sq.ttf');
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    height: 100%;
    margin: 0;
    font-family: helvetica, sans-serif;
    background-color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	color:black;
	line-height:1;
}
input[type="text"],input[type="password"],
input[type="date"],input[type="datetime"],
input[type="datetime-local"],input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"],
input[type="url"], input[type="color"],
textarea,
select {
	margin: 0 !important;
	height: initial;
}

/** foundation top menu override **/
.top-bar-section  {
	background-color: rgba(33,33,33, 0.9);
}
.top-bar-section .divider {
	border-left: silver 1px solid;
}

.top-bar-section .dropdown .divider {
	border-bottom: silver 1px solid;
	border-left: none;
}

.top-bar-section ul li>a.button:hover {
	background-color: rgba(255,255,255, 0.2);
}
.side-nav {}
.side-nav li {
	color: gray;
	margin:0 0 1px 0;
}
.side-nav li a {
	padding: 1px;
	background-color: rgba(250,250,250,.8);
}
.side-nav li.active {
	background-color: rgba(250,250,250,.3);
}
.side-nav li.active>a {
	font-weight: normal;
	color: black !important;
}
.icon-bar {
}
.icon-bar>* {
	padding: 0 !important;
}

/**********************************/

.msg {
	background-image: url('../img/feature_1.png');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
	color: white;
	background-color: white;
	cursor: pointer;
}

.modal {
	color: black;
}

.working {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background-color: rgba(250,250,250,.4);
	color: orange;
}
.working div {
	height: 25%;
	width: 50%;
	left: 25%;
	border: gray 3px solid;
	border-radius: 15px;
	background-color: rgba(255,255,255,1);
	text-align: center;
	margin-left: 25%;
	margin-top: 25%;
}
.working div p {
	margin-top: 50px;
	font-family: arial, helvetica;
	font-weight: bold;
	font-size: 22pt;
	color: #62A7BD;
}
.btn {
	background-color: silver;
	color: black;
	border-radius: 5px;
	border: gray 2px outset;
	padding: 1px 5px 1px 5px;
}
.catseye {
  background-color: silver;
  padding: 2px 5px 2px 15px;
  border-radius: 10px 0 10px 0;
}
/********************************************/
.box {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;	
}
.box .rows {
	flex-direction: column;
}
.box .cols {
	flex-direction: row;
}
.box .box-col {
	flex: 1;
	height:100%;
}
.box .box-row {
	flex: 1;
	width:100%;
}
.box .box-fill {
	flex: 1;
	height:100%;
	width:100%;
}

.scrollable {
	overflow: auto;	
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	
}

.green {
	color: #09ff00;
}

a.checked:before {
	content: '\2713  ';
	color:lightgreen;
}

.selected {				/* selected item */
	background-color: rgba(33,33,33,.9);
	color:white;
	border-color: white;
}
.selected:after {				/*  selected item */
	content: " >";
}

/********************************************/

.page {
	position: absolute;
	top:46px;
	bottom: 0;
	width: 100%;
	border: red 0px solid;
}
.page>.menu {
	background-color: rgba(72, 80, 80, .9);
	width: 150px;
	max-width: 150px;
}
.page>.view {
	border-right: silver 1px solid;
	padding-left: 5px;
}

/** top row **/
#row_top {
	height: 100%;
	width:100%;
	background-color: inherit; 	
}

#row_top_left {
	border-color: white;
	border-width: 0 0 0 0;
	border-style: solid;
	background-color: rgba(20, 20, 20, .9);
	min-width: 30%;
	max-width: 40%;
}

#row_top_right {
	border-color: white;
	border-width: 0 0 0 1px;
	border-style: solid;
	background-color: rgba(20,20,20,.9);
}

/** Branding styles **/
[theme-main] {									/**content - background colour**/
}
[theme-panel] {									/** panels **/
	font-family: LeagueGothic, arial;
	margin:1px;
	color: white;
}
[theme-panel].home,
[theme-panel] .home {		/** home team **/
	color: black;
	background-color:  rgba(255,255,255,.9);
}
[theme-panel].away, [theme-panel] .away {		/** away team **/
	color: inherit; 
	background-color: rgba(250,250,250,.1);
}
[theme-title-bg] {
	background-color: rgba(250,250,250, .3);
}
/***********************************************
* ANIMATIONS
***********************************************/

.page.ng-enter  { z-index:8888;}
.page.ng-leave  { z-index:9999; }

.page-settings.ng-enter,
.page-about.ng-enter{
	/*-webkit-transition: all .1s ease-in 0;
	transition: all .1s ease-in 0; */
    -webkit-animation:slideInDown 0.5s both ease-in;
    animation:slideInDown 0.5s both ease-in;   	
}
.page-settings.ng-leave,
.page-about.ng-leave {
    -webkit-animation:slideOutUp 0.5s both ease-in;
    animation:slideOutUp 0.5s both ease-in;   
}

/* Key Frames  ---------------------- */
/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide out to the right */
@keyframes slideOutRight {
    to      { transform: translateX(+100%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(+100%); }
}

/* slide out from the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

/* slide in from the top */
@keyframes slideInDown {
    from    { transform:translateY(-100%); }
    to      { transform: translateY(0); }
}
@-webkit-keyframes slideInDown {
    from    { -webkit-transform:translateY(-100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide out to the top */
@keyframes slideOutUp {
    to      { transform: translateY(-100%); }
}
@-webkit-keyframes slideOutUp {
    to      { -webkit-transform: translateY(-100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide out to the bottom */
@keyframes slideOutDown {
    to      { transform: translateY(+100%); }
}
@-webkit-keyframes slideOutDown {
    to      { -webkit-transform: translateY(+100%); }
}

