/** main app styles **/

/** Material style overrides **/
mat-sidenav-container {
    height:100%;
}
mat-sidenav {
    width: 200px;
}
mat-nav-list {
    padding-top: 0;
}

.tagline {
    display: inline;
}

/*xs*/
@media only screen and (max-width: 499px) {
    .tagline {
        display: none;
    }
}

@media only screen and (max-width: 799px) {
    .mat-card {
        min-width: calc(100% - 50px);
    }
}
/*>=sm */
@media only screen and (min-width: 800px)  {

    .mat-card:not(.header) {
        min-width: 44%;
        max-width: 44%;
    }

}


/** Main App fullscreen Frame **/
.appframe {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
}
.view {
    top: 64px;
	bottom: 0;
    right: 0;
	left: 0;
    overflow: auto;
    position: fixed;
	border-top: silver 0px solid;
}

@media (max-width: 600px) and (orientation: portrait) {
    .view {
        top: 55px;
    }  
}
