<div class="appframe">
	<!-- Top Bar -->
	<mat-toolbar color="">
		<mat-toolbar-row>
			<span>
				<!-- menu opens when trigger button is clicked -->
				<!--<button mat-icon-button (click)="sidemenu.toggle()">
					<mat-icon>menu</mat-icon>
				</button>-->
			</span>		
			<span style=" flex: 1 1 auto;">NMEASimulator&nbsp;
                <span class="tagline">- NMEA Sentece generator</span>
            </span>
			<span>
				<!-- menu opens when trigger button is clicked -->
				<!--<button mat-icon-button [mat-menu-trigger-for]="infomenu" (click)="sidemenu.close()">
					<mat-icon>info_outline</mat-icon>
				</button>	-->		
			</span>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-menu #infomenu="matMenu" matTooltip="Info Menu" matTooltipPosition="below">
		<!--<button mat-menu-item (click)="openAbout()">
			<mat-icon>info</mat-icon>
			<span>About</span>			
		</button>-->			
	</mat-menu>			
	<!-- /Top Bar -->
	
    <!-- Tab Bar -->
	<!--<nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="/home" routerLinkActive="active" 
                (click)="sidemenu.close()"><b><mat-icon>home</mat-icon></b>Home</a>
    </nav> -->   
    <!-- /Tab Bar -->		

	<!-- content -->
	<div class="view" theme-main>
	
		<mat-sidenav-container>
			<mat-sidenav #sidemenu mode="push">
				<mat-nav-list>
                  
				</mat-nav-list>

			</mat-sidenav>

			<div class="view-content" >

				<!-- content -->
				<div style="display: flex; flex-wrap: wrap;">
    
                    <!--nmeasim-->
                    <mat-card>
                        <mat-card-title >
                            <div style="display: flex; flex-wrap: wrap;">
                                <span style="flex: 1 1 auto;"><img src="./assets/img/apps/nmeasim_1.png"></span>
                                <span style="text-align: right;">
                                    <a mat-raised-button color="accent" rel="noopener"
                                            target="_blank" alt="SignalKSimulator - Chrome Application"
                                            href="https://github.com/panaaj/nmeasimulator/releases/latest">
                                        <img src="./assets/img/apps/nmeasim.png" style="width:20px;"/>&nbsp;
                                        Get it now
                                    </a>
                                </span>
                            </div>
                        </mat-card-title>       

                        <img border=0 width=100% src="https://user-images.githubusercontent.com/38519157/75314330-55c95380-58af-11ea-887c-392dcccbea3a.png" 
                            alt="NMEASimulator is a FREE NMEA senetence generator"/>
                        <br>&nbsp;<br>
                        
                        <p>
                            NMEASimulator is a FREE utilitiy for generating NMEA data streams to devices connected
                            via TCP/IP, WebSocket or Serial port.
                        </p>

                        <p style="font-weight: 500;font-style:italic;">
                            NMEASimulator is available for Windows, Mac & Linux platforms and is a driect replacement 
                            for the NMEASimulator Chrome App (for which support ends as of June 2020 for these platforms).
                        </p>                        

                        <p>It is simple and easy to use tool that mimics vessel 
                            movement, engine status, water depth, etc.:
                        </p>
                        <p>
                            <b>It can work in two modes:</b>
                        </p>
                        <ol>
                            <li>Set initial seed values and then perodically apply a delta to them to mimic vessel movement</li>
                            <br>
                            <li>Follow a GPX Track. NMEASimulator will walk through each point of the Track at the interval 
                                set in the configuration screen.<br>
                                <i>Note: If a track has multiple segments, NMEASimulator will concatenate all the segments into one contiguous Track</i>
                            </li> 
                        </ol>                                               
                        
                        <ul class="circle">                                    
                            <li>
                                GPS Fix Quality,HDOP, PDOP & VDOP, Number of satellites,
                                Current local time and date.
                            </li>
                            <li>
                                Vessel position, speed and heading data
                            </li>
                            <li>
                                Wind speed and direction
                            </li>
                            <li>
                                Water temperature and depth
                            </li>
                            <li>
                                Waypoint position and name
                            </li>									
                        </ul>
                    </mat-card>
                
                </div>
                 <!-- content -->		                

			</div>
			
		</mat-sidenav-container>
	</div>
	<!-- /content -->
	
</div>

